body{
	font-family: "Lato", "Helvetica", Helvetica, sans-serif;
}

input {
	width: 120px;
}

.centrado{
	 margin: 0 auto;
}

#transparent {
	background: transparent;
}

.w100 {
	width: 100%;
}

.w75 {
	width: 75%;
}

.w50 {
	width: 50%;
}

.w33 {
	width: 33%;
}

.w25 {
	width: 25%;
}

.box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 10px;
}

.titulo{
	text-align: center;
}

.boxtwo {
	flex: 2 1 auto;
	margin: 10px;
}

#juego {
  opacity: 0.3;
  width: 600px;
  height: 600px;
}

table {
  width: 100%;
  height: 100%;
}

td {
  width: 25%;
  height: 25%;
  background-color: #FAD7A0;
  border-radius: 5px;
}

.letra {
  color: white;
  font-size: 40px;
  text-align: center;
}

.wrapper {
  display: grid;
  gap: 16px;
  grid-auto-rows: minmax(100px, auto);
}

.uno {
  grid-column: 1;
  grid-row: 1;
}
.dos {
  grid-column: 2;
  grid-row: 1;
}
.tres {
  grid-column: 3;
  grid-row: 1;
}
.cuatro {
  grid-column: 4;
  grid-row: 1;
}
.cinco {
  grid-column: 1;
  grid-row: 2;
}
.seis {
  grid-column: 2;
  grid-row: 2;
}
.siete {
  grid-column: 3;
  grid-row: 2;
}
.ocho {
  grid-column: 4;
  grid-row: 2;
}
.nueve {
  grid-column: 1;
  grid-row: 3;
}
.diez {
  grid-column: 2;
  grid-row: 3;
}
.once {
  grid-column: 3;
  grid-row: 3;
}
.doce {
  grid-column: 4;
  grid-row: 3;
}
.trece {
  grid-column: 1;
  grid-row: 4;
}
.catorce {
  grid-column: 2;
  grid-row: 4;
}
.quince {
  grid-column: 3;
  grid-row: 4;
}
.dieciseis {
  grid-column: 4;
  grid-row: 4;
}

.hidden{
  display:none;
}
