<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prueba.aplicacion.mapper.PartidaMapper">

    <sql id="Base_Column_List" >
        id, movimientos, tiempo
    </sql>

	<resultMap type="com.prueba.aplicacion.domain.entity.Partida" id="partidaResult">
        <id column="id" property="id" javaType="long" />
        <result column="movimientos" property="movimientos" javaType="int" />
        <result column="tiempo" property="tiempo" javaType="java.sql.Time"/>
		<result column="jugador_id" property="jugador_id" javaType="long"/>
	</resultMap>
	
	<resultMap type="com.prueba.aplicacion.domain.entity.Jugador" id="jugadorResult">
		<id column="id" property="id" javaType="long"/>
	    <result column="nombre" property="nombre" javaType="string"/>
	    <result column="equipo" property="equipo" javaType="string"/>
	</resultMap>
	
	<resultMap type="com.prueba.aplicacion.domain.entity.Partida" id="partidaResultConJugador">
		<id column="id" property="id" javaType="long"/>
        <result column="movimientos" property="movimientos" javaType="int" />
        <result column="tiempo" property="tiempo" javaType="java.sql.Time"/>
	    <association property="jugador" column="jugador_id" 
	    resultMap="jugadorResult"/>
	</resultMap>
	
	<resultMap type="com.prueba.aplicacion.domain.entity.Jugador" id="jugadorResultConPartidas">
		<id column="id" property="id" javaType="long"/>
	    <result column="nombre" property="nombre" javaType="string"/>
	    <result column="equipo" property="equipo" javaType="string"/>
	    <collection property="partidas" javaType="ArrayList" ofType="com.prueba.aplicacion.domain.entity.Partida"
	    column="id" resultMap="partidaResult"/>
	</resultMap>

    <select id="findById" parameterType="java.lang.Long" resultMap="partidaResult">
       select 
       <include refid="Base_Column_List" />
       from partida
       where id = #{id}
    </select>

	<select id="findByIdConJugador" parameterType="long" resultMap="partidaResultConJugador">
		select
		<include refid="Base_Column_List" />
		from partida
		inner join jugador ON partida.jugador_id = jugador.id
		where partida.id = #{id}
	</select>

    <select id="getAll" resultMap="partidaResult"  >
       select 
       <include refid="Base_Column_List" />
       from partida
    </select>
	
	<insert id="insert" parameterType="com.prueba.aplicacion.domain.entity.Partida">
	  insert into partida (movimientos,tiempo,jugador_id)
	  values (#{movimientos},#{tiempo},#{jugador_id})
	</insert>

	<update id="update" parameterType="com.prueba.aplicacion.domain.entity.Partida">
 		update 
            partida 
       set 
        <if test="movimientos != null">movimientos = #{movimientos},</if>
		<if test="tiempo != null">tiempo = #{tiempo},</if>
		<if test="jugador != null">jugador = #{jugador}</if>
       where 
            id = #{id}
	</update>

	<delete id="delete" parameterType="com.prueba.aplicacion.domain.entity.Partida">
	  delete from partida where id = #{id}
	</delete>

	<delete id="deleteById" parameterType="java.lang.Long">
	  delete from partida where id = #{id}
	</delete>

	<delete id="deleteAll">
	  delete from partida
	</delete>
	
</mapper>