<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>El juego de las parejas</title>
    <base href="/">
    
    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/index.css}">

</head>
<body>
    <div class="box">
        <h1 class="titulo centrado">Ranking</h1>
    </div>
    <div class="box">
        <label class="boxtwo">Posici&oacute;n</label>
        <label class="boxtwo">Tiempo</label>
        <label class="boxtwo">Movimientos</label>
        <label class="boxtwo">Nombre</label>
        <label class="boxtwo">Equipo</label>
    </div>
    <form action="/juego">
   	<div class="box">	
    	<input type="submit" class="btn btn-primary navbar-btn size-btn centrado" value="Volver a jugar"></input>
    </div>
    </form>
    <form action="/">
   	<div class="box">
    	<input type="submit" class="btn btn-danger navbar-btn size-btn centrado" value="Salir"></input>
    </div>
    </form>
</body>
</html>
